# Machine Learning

In this file, instructions how to approach the challenge can be found.

We are going to work on different types of Machine Learning problems:

- **Regression Problem**: The goal is to predict delay of flights.
- **(Stretch) Multiclass Classification**: If the plane was delayed, we will predict what type of delay it is (will be).
- **(Stretch) Binary Classification**: The goal is to predict if the flight will be cancelled.

## Main Task: Regression Problem

The target variable is **ARR_DELAY**. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.  

For example, variables **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY** shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights **1 week in advance**.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro
from random import sample

In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Beasty\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
#For the purpose of Analysis we have taken flight for DL carrier in 2019.
df = pd.read_csv('DL flights in 2019.csv', low_memory=False)

In [3]:
df.columns

Index(['fl_date', 'mkt_carrier', 'mkt_carrier_fl_num', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [4]:
df.tail()

,fl_date,mkt_carrier,mkt_carrier_fl_num,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
1048570,05/08/2019,DL,833,N385DZ,833,11433,DTW,"Detroit, MI",14679,SAN,...,1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,05/08/2019,DL,834,N381DN,834,12953,LGA,"New York, NY",11292,DEN,...,1620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,05/08/2019,DL,835,N383DN,835,12892,LAX,"Los Angeles, CA",13495,MSY,...,1670,3.0,0.0,0.0,0.0,25.0,NaN,NaN,NaN,NaN
1048573,05/08/2019,DL,836,N829MH,836,12173,HNL,"Honolulu, HI",10397,ATL,...,4502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,05/08/2019,DL,837,N827MH,837,10397,ATL,"Atlanta, GA",12173,HNL,...,4502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.sort_values(['fl_date'])

In [6]:
df.tail()

,fl_date,mkt_carrier,mkt_carrier_fl_num,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
1021996,31/07/2019,DL,1844,N3766,1844,14747,SEA,"Seattle, WA",10721,BOS,...,2496,0.0,0.0,89.0,0.0,0.0,NaN,NaN,NaN,NaN
1021997,31/07/2019,DL,1845,N993AT,1845,14492,RDU,"Raleigh/Durham, NC",11433,DTW,...,501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021998,31/07/2019,DL,1846,N915DN,1846,10397,ATL,"Atlanta, GA",14100,PHL,...,666,136.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1021990,31/07/2019,DL,1839,N928DU,1839,11292,DEN,"Denver, CO",10397,ATL,...,1199,1.0,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN
1017967,31/07/2019,DL,3742,N914EV,3742,10397,ATL,"Atlanta, GA",14108,PIA,...,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Converting to datetime format.
df['fl_date']=pd.to_datetime(df['fl_date'])

In [30]:
df_taxi_out=df[['origin_airport_id', 'fl_date',  'taxi_out']].groupby(['origin_airport_id', 'fl_date']).sum()

In [47]:
list_of_airports = df['origin_airport_id'].unique()
list_of_airports

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'

In [ ]:
for airport in list_of_airports:
    df_taxi_out['7d average'] = df_taxi_out.iloc[df_taxi_out['origin_airport_id']==airport, ]

In [38]:
df_taxi_out#rolling(7).mean()

                              taxi_out
origin_airport_id fl_date
10135             2019-01-01      54.0
                  2019-01-02     198.0
                  2019-01-03     235.0
                  2019-01-04     108.0
                  2019-01-05     133.0
...                                ...
15919             2019-12-03     117.0
                  2019-12-04     135.0
                  2019-12-05     105.0
                  2019-12-06     161.0
                  2019-12-07     116.0

[47412 rows x 1 columns]

### Feature Engineering

Feature engineering will play a crucial role in this problems. We have only very little attributes so we need to create some features that will have some predictive power.

- weather: we can use some weather API to look for the weather in time of the scheduled departure and scheduled arrival.
- statistics (avg, mean, median, std, min, max...): we can take a look at previous delays and compute descriptive statistics
- airports encoding: we need to think about what to do with the airports and other categorical variables
- time of the day: the delay probably depends on the airport traffic which varies during the day.
- airport traffic
- unsupervised learning as feature engineering?
- **what are the additional options?**: Think about what we could do more to improve the model.

### Feature Selection / Dimensionality Reduction

We need to apply different selection techniques to find out which one will be the best for our problems.

- Original Features vs. PCA conponents?

### Modeling

Use different ML techniques to predict each problem.

- linear / logistic / multinomial logistic regression
- Naive Bayes
- Random Forest
- SVM
- XGBoost
- The ensemble of your own choice

### Evaluation

You have data from 2018 and 2019 to develop models. Use different evaluation metrics for each problem and compare the performance of different models.

You are required to predict delays on **out of sample** data from **first 7 days (1st-7th) of January 2020** and to share the file with LighthouseLabs. Sample submission can be found in the file **_sample_submission.csv_**

======================================================================
## Stretch Tasks

### Multiclass Classification

The target variables are **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY**. We need to do additional transformations because these variables are not binary but continuos. For each flight that was delayed, we need to have one of these variables as 1 and others 0.

It can happen that we have two types of delays with more than 0 minutes. In this case, take the bigger one as 1 and others as 0.

### Binary Classification

The target variable is **CANCELLED**. The main problem here is going to be huge class imbalance. We have only very little cancelled flights with comparison to all flights. It is important to do the right sampling before training and to choose correct evaluation metrics.